/* Breadcrumb 组件样式（占位，待填充 token 映射） */
.ant-breadcrumb {
    .ant-breadcrumb-item {
        color: var(--gray-50);
        font-size: var(--font-size-md);
    }

    .ant-breadcrumb-item:last-child {
        color: var(--gray-90);
    }

    .ant-breadcrumb-separator {
        width: 0.75rem;
        text-align: center;
        margin-inline: 0.25rem;
        color: var(--gray-20);
    }

}

.dark {
    .ant-breadcrumb {
        .ant-breadcrumb-item {
            color: var(--gray-20);
            font-size: var(--font-size-md);
        }

        .ant-breadcrumb-item:last-child {
            color: var(--gray-0);
        }

        .ant-breadcrumb-separator {
            color: var(--gray-40);
        }

    }
}