/* Collapse 组件样式（占位，待填充 token 映射） */
.ant-collapse {
  .ant-collapse-item {
    border-color: var(--color-border-separator);

    .ant-collapse-header {
      color: var(--color-text-primary);

      .ant-collapse-expand-icon {
        margin-inline-end: 0.25rem;
        padding-inline-end: var(--spacing-0)
      }
    }

    .ant-collapse-content {
      border-color: var(--color-border-separator);

      .ant-collapse-content-box {
        padding: 0.75rem 1rem 1rem 2rem;
      }
    }
  }
}

.dark {
  .ant-collapse {
    .ant-collapse-item {
      border-color: var(--color-text-inverse-disabled);

      .ant-collapse-header {
        color: var(--color-text-primary);
        background-color: rgb(from var(--gray-05) r g b / 0.2);

        .ant-collapse-expand-icon {
          color: var(--gray-10);
        }
      }

      .ant-collapse-content {
        border-color: var(--color-text-inverse-disabled);
      }
    }
  }
}