/* Input 组件样式（占位，待填充 token 映射） */
.ant-input {
  border-radius: var(--radius-base);
}
input.ant-input {
  padding: 0 0.75rem;
  height: 2rem;
  font-size: var(--font-size-md);
  line-height: 1.5rem;
  border-radius: var(--radius-base);
  color: var(--color-text-primary);
  border-color: var(--color-border);
  background-color: var(--color-fill-subtle);
  caret-color: var(--brand-50);

  &::placeholder {
    color: var(--color-text-placeholder);
  }

  &.ant-input-lg {
    height: 2.5rem;
    padding: 0 0.75rem;
    font-size: var(--font-size-md);
    border-radius: var(--radius-base);
  }

  &.ant-input-sm {
    padding: 0 0.75rem;
    height: 28px;
    font-size: var(--font-size-base);
    border-radius: var(--radius-base);
  }
}

.ant-input-affix-wrapper {
  padding: 0 0.75rem;
  height: 2rem;
  border-radius: var(--radius-base);
  .ant-input {
    height: 100%;

    &[type="password"] {
      letter-spacing: 0.5rem;
      color: var(--color-icon-primary);
    }
  }

  >input.ant-input {
    color: var(--color-text-primary);
  } 

  .anticon {
    color: var(--color-icon-secondary);
  }

  .ant-input-suffix {
    color: var(--color-text-primary);
  }


}

.ant-input-outlined{
  border-color: var(--color-border);
  background-color: var(--color-fill-subtle);

  &.ant-input-disabled{
    border-color: var(--color-border-disabled);
    background-color: var(--color-fill-disabled-subtle);
    color: var(--color-text-disabled);
    &:hover {
      border-color: var(--color-border-disabled);
    }
  }

  &:hover {
    border-color: var(--color-border-hover);
  }

  &.ant-input-status-error:not(.ant-input-disabled) {
    border-color: var(--color-error);
    background-color: var( --color-fill-subtle);
  }

  &:focus,
  &:focus-within {
    border-color: var(--color-border-focus);
    box-shadow: 0 0 0 1px var(--color-brand-disabled);
    background-color: var( --color-fill-subtle);
  }
}

/* textarea style start*/
.ant-input-textarea-affix-wrapper,
.ant-flex-align-center {
  border-color: var(--color-border);
  color: var(--color-text-primary);
  padding: 0px !important;
  height: auto;

  textarea {
    color: var(--color-text-primary);
    caret-color: var(--brand-50);
    padding: 0.3125rem 0.75rem 1rem;
  }

  .ant-input-suffix {
    font-size: var(--font-size-base);

    .ant-input-data-count {
      color: var(--color-text-secondary);
    }
  }

  &.ant-input-affix-wrapper-focused {
    border-color: var(--brand-50);
  }
}

.ant-input-textarea-show-count .ant-input-data-count {
  bottom: 0px;
  right: 0.75rem;
  background-color: var(--color-fill-subtle);
}
.dark {
  .ant-input-textarea-affix-wrapper,
  .ant-flex-align-center {
    border-color: var(--color-border);

    &.ant-input-affix-wrapper-focused {
      border-color: var(--brand-40);
    }
  }
  .ant-input-textarea-show-count .ant-input-data-count {
    background-color: var(--color-bg-1);
  }
}
/* textarea style end*/

