/* Modal 组件样式（占位，待填充 token 映射） */

.ant-modal {
    .ant-modal-title {
        font-size: var(--font-size-2xl);
        color: var(--gray-90);
    }

    .ant-modal-content {
        position: relative;
        background-color: #ffffff;
        position: relative;
        background-clip: padding-box;
        border: 0;
        border-radius: var(--radius-lg);
        pointer-events: auto;
        padding: var(--spacing-6) !important;
    }

    .ant-modal-header {
        color: var(--gray-90);
        border-bottom: var(--spacing-4);

        .ant-modal-title {
            font-size: var(--font-size-2xl);
            color: var(--gray-90);
        }
    }

    .ant-modal-body {
        .ant-typography.ant-typography-secondary,
        .ant-typography.ant-typography-link.ant-typography-secondary {
            color: var(--gray-90);
        }
    }

}

.ant-btn.ant-btn-color-default {
    border-radius: var(--radius-base);
}

.ant-btn.ant-btn-color-primary {
    background-color: var(--brand-50);
    border-radius: var(--radius-base);
    color: var(--gray-0);
}

.ant-btn.ant-btn-color-primary:not(:disabled):hover {
    background-color: var(--brand-60);
    color: var(--gray-0);
}

.dark {
    .ant-modal {
        background-color: color-mix(in srgb, #000000 70%, transparent) !important;

        .ant-modal-title {
            color: var(--gray-0);
        }

        .ant-modal-content {

            background-color: var(--gray-70);
            border-radius: var(--radius-lg);
            padding: var(--spacing-6) !important;
            color: var(--gray-0);

            .ant-modal-body .ant-typography.ant-typography-secondary,
            .dark .ant-modal .ant-modal-body .ant-typography.ant-typography-link.ant-typography-secondary {
                color: var(--gray-0);
            }
        }



        .ant-modal-header {
            color: var(--gray-0);
            border-bottom: var(--spacing-4);
            background-color: var(--gray-70);

        }

        .ant-modal-body {

            .ant-typography.ant-typography-secondary,
            .ant-typography.ant-typography-link.ant-typography-secondary {
                color: var(--gray-90);
            }
        }

    }

    .ant-btn.ant-btn-color-default {
        border-radius: var(--radius-base);
    }

    .ant-btn.ant-btn-color-primary {
        background-color: var(--brand-50);
        border-radius: var(--radius-base);
        color: var(--gray-0);
    }

    .ant-btn.ant-btn-color-primary:not(:disabled):hover {
        background-color: var(--brand-60);
        color: var(--gray-0);
    }

}