.ant-popover {
    .ant-popover-container {
        padding: var(--spacing-4);
        background-color: var(--color-bg-4);
        border-radius: var(--radius-md);
    }

    .ant-popover-title {
        color: var(--color-text-primary);
        font-size: var(--font-size-lg);
    }

    .ant-popover-content {
        color: var(--color-text-secondary);
        font-size: var(--font-size-md);
    }
}