.ant-select {
    // 变更圆角
    --ant-select-border-radius: var(--radius-base);
    &.ant-select-lg .ant-select-selector,
    &.ant-select-sm .ant-select-selector,
    .ant-select-selector {
        border-radius: var(--radius-base);
        color: var(--color-text-primary);
    }
    color: var(--color-text-primary);

    //  变更边框
    &.ant-select-outlined {
        --ant-select-border-color: var(--color-border);

        &:not(.ant-select-disabled) {

            &:hover {
                --ant-select-border-color: var(--color-border-hover);

                .ant-select-suffix {
                    color: var(--color-icon-primary);
                }
            }

            &.ant-select-focused {
                --ant-select-border-color: var(--color-border-focus);
                // box-shadow: 0 0 0 1px var(--color-border-active);
            }
        }

        &.ant-select-disabled {
            --ant-select-border-color: var(--color-border-disabled)
        }

        &.ant-select-status-error {
            --ant-select-border-color: var(--color-error);

            &:not(.ant-select-disabled):hover {
                --ant-select-border-color: var(--color-error-hover);
            }
        }

        &.ant-select-status-warning {
            --ant-select-border-color: var(--color-warning);

            &:not(.ant-select-disabled):hover {
                --ant-select-border-color: var(--color-warning-hover);
            }
        }

    }


    &:not(.ant-select-disabled) {

        .ant-select-placeholder {
            color: var(--color-text-placeholder)
        }

        .ant-select-suffix {
            color: var(--color-icon-secondary);
        }

        &:not(.ant-select-multiple).ant-select-focused.ant-select-open .ant-select-suffix {
            transform: rotate(180deg);
        }

    }

    &.ant-select-disabled {
        //选中值文本色
        --ant-select-color: var(--color-text-disabled);
        color: var(--color-text-disabled);

        background: var(--color-hover);

        &.ant-select-multiple {
            background: var(--color-fill-disabled-subtle);

            .ant-select-content .ant-select-selection-item {
                background: var(--color-fill-disabled-subtle);
            }

        }

        .ant-select-placeholder {
            color: var(--color-text-disabled);
        }

        .ant-select-suffix {
            color: var(--color-icon-disabled)
        }

        .ant-select-arrow {
            background: url("data:image/svg+xml,%3csvg%20width='10.004089'%20height='10.000000'%20viewBox='0%200%2010.0041%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M9.86%202.98L5.36%207.67C5.24%207.79%205.1%207.86%204.99%207.86C4.87%207.86%204.75%207.79%204.64%207.67L0.14%202.98C-0.06%202.78%20-0.05%202.47%200.15%202.27C0.35%202.08%200.66%202.08%200.86%202.29L5%206.61L9.14%202.29C9.33%202.08%209.64%202.08%209.84%202.27C10.05%202.47%2010.05%202.78%209.86%202.98Z'%20fill='%23C9C9C9'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center no-repeat;
        }
    }
    
    // 后缀图标
    .ant-select-arrow {
        width: 0.625rem;
        height: 0.625rem;
        background-size: 100%;
        background: url("data:image/svg+xml,%3csvg%20width='10.004089'%20height='10.000000'%20viewBox='0%200%2010.0041%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3cpath%20id='合并'%20d='M9.86%202.98L5.36%207.67C5.24%207.79%205.1%207.86%204.99%207.86C4.87%207.86%204.75%207.79%204.64%207.67L0.14%202.98C-0.06%202.78%20-0.05%202.47%200.15%202.27C0.35%202.08%200.66%202.08%200.86%202.29L5%206.61L9.14%202.29C9.33%202.08%209.64%202.08%209.84%202.27C10.05%202.47%2010.05%202.78%209.86%202.98Z'%20fill='%23777777'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e") center no-repeat;
        transform: translateY(-50%);
        vertical-align: middle;
        margin-top: 0;
    }
    .ant-select-suffix {
        width: 0.625rem;
        height: 0.625rem;
        display: none;
    }

    &.ant-select-open,
    &.ant-select-lg.ant-select-single.ant-select-open,
    &.ant-select-sm.ant-select-single.ant-select-open  {
        .ant-select-selection-item {
            color: var(--color-text-primary);
        }

        .ant-select-arrow {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .ant-select-selection-placeholder {
        color: var(--color-text-placeholder)
    }
}

.ant-select-outlined:not(.ant-select-customize-input):hover .ant-select-selector,
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: var(--color-fill-subtle);
}

.ant-select-single {
    font-size: var(--font-size-md);
    height: 2rem;

    &.ant-select-lg {
        font-size: var(--font-size-md);
        height: 2.5rem;

        &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
            font-size: var(--font-size-md);
            height: 2.375rem;
        }

        .ant-select-selector {
            font-size: var(--font-size-md);

            .ant-select-selection-placeholder {
                font-size: var(--font-size-md);
                line-height: 2.375rem;
            }
            .ant-select-selection-wrap {
                &::after {
                   line-height: 2.375rem; 
                }
            }
        }
    }

    &.ant-select-sm {
        font-size: var(--font-size-base);
        height: 1.75rem;

        &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
            font-size: var(--font-size-base);
            height: 1.375rem;
        }

        .ant-select-selector {
            font-size: var(--font-size-base);

            .ant-select-selection-placeholder {
                font-size: var(--font-size-base);
                line-height: 1.375rem;
            }
            .ant-select-selection-wrap {
                &::after {
                   line-height: 1.375rem; 
                }
            }
        }
        
    }

    &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
        font-size: var(--font-size-md);
        height: 1.875rem;
    }

    .ant-select-selector {
        font-size: var(--font-size-md);

        .ant-select-selection-placeholder {
            font-size: var(--font-size-md);
            line-height: 1.875rem;
        }
        .ant-select-selection-wrap {
            &::after {
                line-height: 1.875rem;
            }
        }
    }
}


.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input,
.ant-select-dropdown .ant-select-item {
    font-size: var(--font-size-md);
}

.ant-select-multiple {
    font-size: var(--font-size-md);
}


//多选标签图标
.ant-select-multiple .ant-select-content .ant-select-selection-item-remove {
    color: var(--color-icon-primary);
}

// 下拉面板
.ant-select-dropdown {
    border-radius: var(--radius-md);
    background-color: var(--color-bg-4);
    color: var(--color-text-primary);
    box-shadow: var(--shadow-base);
    padding: 0.25rem;

    .ant-select-item-option-disabled {
        color: var(--color-text-disabled);
    }

    .ant-select-item {
        padding: 0 0.5rem;
        display: flex;
        align-items: center;

        &:not(.ant-select-item-option-disabled) {
            color: var(--color-text-primary);
        }
    }

    .ant-select-item-option-selected.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: var(--color-select);
        color: var(--color-text-on);
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: var(--color-select);
        color: var(--color-text-on);
        font-weight: normal;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: var(--color-hover);
    }

    .rc-virtual-list-holder-inner {
       gap: 0.25rem;
    }
}

.ant-select-single:not(.ant-select-customize).ant-select-open .ant-select-content-has-value {
    opacity: unset;
}

.ant-select-multiple .ant-select-content .ant-select-selection-item {
    margin-inline-end: 0.5rem;
    background: var(--color-hover);
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: var(--color-border-hover);
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: var(--color-border-focus);
    box-shadow: 0 0 0 1px var(--color-border-active);
}


.dark {
    .ant-select {
        .ant-select-arrow {
            background: url("data:image/svg+xml,%3csvg%20width='10.000000'%20height='10.000000'%20viewBox='0%200%2010%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs%3e%3cclipPath%20id='clip2_196'%3e%3crect%20id='ic_public_chevron_down'%20width='10.000000'%20height='10.000000'%20transform='translate(10.000000%2010.000000)%20rotate(180.000000)'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_196)'%3e%3cpath%20id='path1'%20d='M9.68%205C9.68%205.73%209.68%206.46%209.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205Z'%20fill='%23191919'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path1'%20d='M9.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205C9.68%205.73%209.68%206.46%209.68%207.2Z'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3cpath%20id='path2'%20d='M9.68%205C9.68%205.73%209.68%206.46%209.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205Z'%20fill='%23000000'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path2'%20d='M9.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205C9.68%205.73%209.68%206.46%209.68%207.2Z'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3ccircle%20id='path3'%20r='5.000000'%20transform='matrix(-1%200%200%20-1%205%205)'%20fill='%23191919'%20fill-opacity='0'/%3e%3ccircle%20id='path3'%20r='5.000000'%20transform='matrix(-1%200%200%20-1%205%205)'%20stroke='%23000000'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3cpath%20id='path4'%20d=''%20fill='%23000000'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path4'%20d='M0.93%202.91L5%207.08L9.06%202.91'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'%20stroke-linejoin='round'%20stroke-linecap='round'/%3e%3cpath%20id='path5'%20d='M8.91%202.77C8.99%202.68%209.12%202.68%209.2%202.76C9.29%202.84%209.29%202.97%209.21%203.06L5.14%207.22C5.06%207.31%204.93%207.31%204.85%207.22L0.78%203.06C0.7%202.97%200.7%202.84%200.79%202.76C0.87%202.68%201%202.68%201.08%202.77L4.99%206.78L8.91%202.77Z'%20fill='%23DFDFDF'%20fill-opacity='1.000000'%20fill-rule='nonzero'/%3e%3cpath%20id='path5'%20d='M9.2%202.76C9.29%202.84%209.29%202.97%209.21%203.06L5.14%207.22C5.06%207.31%204.93%207.31%204.85%207.22L0.78%203.06C0.7%202.97%200.7%202.84%200.79%202.76C0.87%202.68%201%202.68%201.08%202.77L4.99%206.78L8.91%202.77C8.99%202.68%209.12%202.68%209.2%202.76Z'%20stroke='%23DFDFDF'%20stroke-opacity='1.000000'%20stroke-width='1.000000'/%3e%3c/g%3e%3c/svg%3e") center no-repeat;
        }
        &.ant-select-disabled {
           .ant-select-arrow {
                background: url("data:image/svg+xml,%3csvg%20width='10.000000'%20height='10.000000'%20viewBox='0%200%2010%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs%3e%3cclipPath%20id='clip2_196'%3e%3crect%20id='ic_public_chevron_down'%20width='10.000000'%20height='10.000000'%20transform='translate(10.000000%2010.000000)%20rotate(180.000000)'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip2_196)'%3e%3cpath%20id='path1'%20d='M9.68%205C9.68%205.73%209.68%206.46%209.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205Z'%20fill='%23191919'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path1'%20d='M9.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205C9.68%205.73%209.68%206.46%209.68%207.2Z'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3cpath%20id='path2'%20d='M9.68%205C9.68%205.73%209.68%206.46%209.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205Z'%20fill='%23000000'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path2'%20d='M9.68%207.2C9.68%207.55%209.64%207.9%209.55%208.25C9.36%208.97%208.89%209.4%208.16%209.57C7.8%209.65%207.42%209.69%207.05%209.68C5.65%209.68%204.24%209.68%202.84%209.68C2.48%209.68%202.13%209.64%201.79%209.56C1.04%209.38%200.59%208.9%200.42%208.16C0.34%207.81%200.3%207.45%200.31%207.09C0.31%205.67%200.31%204.25%200.31%202.83C0.31%202.48%200.35%202.13%200.43%201.78C0.61%201.04%201.09%200.59%201.83%200.42C2.2%200.34%202.57%200.3%202.94%200.31C4.34%200.31%205.74%200.31%207.14%200.31C7.49%200.31%207.85%200.35%208.2%200.43C8.95%200.61%209.4%201.09%209.57%201.84C9.66%202.22%209.68%202.6%209.68%202.98C9.68%203.65%209.68%204.33%209.68%205C9.68%205.73%209.68%206.46%209.68%207.2Z'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3ccircle%20id='path3'%20r='5.000000'%20transform='matrix(-1%200%200%20-1%205%205)'%20fill='%23191919'%20fill-opacity='0'/%3e%3ccircle%20id='path3'%20r='5.000000'%20transform='matrix(-1%200%200%20-1%205%205)'%20stroke='%23000000'%20stroke-opacity='0'%20stroke-width='1.000000'/%3e%3cpath%20id='path4'%20d=''%20fill='%23000000'%20fill-opacity='0'%20fill-rule='nonzero'/%3e%3cpath%20id='path4'%20d='M0.93%202.91L5%207.08L9.06%202.91'%20stroke='%23191919'%20stroke-opacity='0'%20stroke-width='1.000000'%20stroke-linejoin='round'%20stroke-linecap='round'/%3e%3cpath%20id='path5'%20d='M8.91%202.77C8.99%202.68%209.12%202.68%209.2%202.76C9.29%202.84%209.29%202.97%209.21%203.06L5.14%207.22C5.06%207.31%204.93%207.31%204.85%207.22L0.78%203.06C0.7%202.97%200.7%202.84%200.79%202.76C0.87%202.68%201%202.68%201.08%202.77L4.99%206.78L8.91%202.77Z'%20fill='%23939393'%20fill-opacity='1.000000'%20fill-rule='nonzero'/%3e%3cpath%20id='path5'%20d='M9.2%202.76C9.29%202.84%209.29%202.97%209.21%203.06L5.14%207.22C5.06%207.31%204.93%207.31%204.85%207.22L0.78%203.06C0.7%202.97%200.7%202.84%200.79%202.76C0.87%202.68%201%202.68%201.08%202.77L4.99%206.78L8.91%202.77C8.99%202.68%209.12%202.68%209.2%202.76Z'%20stroke='%23939393'%20stroke-opacity='1.000000'%20stroke-width='1.000000'/%3e%3c/g%3e%3c/svg%3e") center no-repeat!important;
           } 
        }
    }
}