.ant-select {
    // 变更圆角
    --ant-select-border-radius: var(--radius-base);
    &.ant-select-lg .ant-select-selector,
    &.ant-select-sm .ant-select-selector,
    .ant-select-selector {
        border-radius: var(--radius-base);
        color: var(--color-text-primary);
    }
    color: var(--color-text-primary);

    //  变更边框
    &.ant-select-outlined {
        --ant-select-border-color: var(--color-border);

        &:not(.ant-select-disabled) {

            &:hover {
                --ant-select-border-color: var(--color-border-hover);

                .ant-select-suffix {
                    color: var(--color-icon-primary);
                }
            }

            &.ant-select-focused {
                --ant-select-border-color: var(--color-border-focus);
                // box-shadow: 0 0 0 1px var(--color-border-active);
            }
        }

        &.ant-select-disabled {
            --ant-select-border-color: var(--color-border-disabled)
        }

        &.ant-select-status-error {
            --ant-select-border-color: var(--color-error);

            &:not(.ant-select-disabled):hover {
                --ant-select-border-color: var(--color-error-hover);
            }
        }

        &.ant-select-status-warning {
            --ant-select-border-color: var(--color-warning);

            &:not(.ant-select-disabled):hover {
                --ant-select-border-color: var(--color-warning-hover);
            }
        }

    }


    &:not(.ant-select-disabled) {

        .ant-select-placeholder {
            color: var(--color-text-placeholder)
        }

        .ant-select-suffix {
            color: var(--color-icon-secondary);
        }

        &:not(.ant-select-multiple).ant-select-focused.ant-select-open .ant-select-suffix {
            transform: rotate(180deg);
        }

    }

    &.ant-select-disabled {
        //选中值文本色
        --ant-select-color: var(--color-text-disabled);
        color: var(--color-text-disabled);

        background: var(--color-hover);

        &.ant-select-multiple {
            background: var(--color-fill-disabled-subtle);

            .ant-select-content .ant-select-selection-item {
                background: var(--color-fill-disabled-subtle);
            }

        }

        .ant-select-placeholder {
            color: var(--color-text-disabled);
        }

        .ant-select-suffix {
            color: var(--color-icon-disabled)
        }
    }

    // 后缀图标
    .ant-select-suffix svg {
        width: 0.625rem;
        height: 0.625rem;
    }

    &.ant-select-open,
    &.ant-select-lg.ant-select-single.ant-select-open,
    &.ant-select-sm.ant-select-single.ant-select-open  {
        .ant-select-selection-item {
            color: var(--color-text-primary);
        }
    }

    .ant-select-selection-placeholder {
        color: var(--color-text-placeholder)
    }
}

.ant-select-outlined:not(.ant-select-customize-input):hover .ant-select-selector,
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: var(--color-fill-subtle);
}

.ant-select-single {
    font-size: var(--font-size-md);
    height: 2rem;

    &.ant-select-lg {
        font-size: var(--font-size-md);
        height: 2.5rem;

        &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
            font-size: var(--font-size-md);
            height: 2.375rem;
        }

        .ant-select-selector {
            font-size: var(--font-size-md);

            .ant-select-selection-placeholder {
                font-size: var(--font-size-md);
                line-height: 2.375rem;
            }
            .ant-select-selection-wrap {
                &::after {
                   line-height: 2.375rem; 
                }
            }
        }
    }

    &.ant-select-sm {
        font-size: var(--font-size-base);
        height: 1.75rem;

        &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
            font-size: var(--font-size-base);
            height: 1.375rem;
        }

        .ant-select-selector {
            font-size: var(--font-size-base);

            .ant-select-selection-placeholder {
                font-size: var(--font-size-base);
                line-height: 1.375rem;
            }
            .ant-select-selection-wrap {
                &::after {
                   line-height: 1.375rem; 
                }
            }
        }
        
    }

    &:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
        font-size: var(--font-size-md);
        height: 1.875rem;
    }

    .ant-select-selector {
        font-size: var(--font-size-md);

        .ant-select-selection-placeholder {
            font-size: var(--font-size-md);
            line-height: 1.875rem;
        }
        .ant-select-selection-wrap {
            &::after {
                line-height: 1.875rem;
            }
        }
    }
}


.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input,
.ant-select-dropdown .ant-select-item {
    font-size: var(--font-size-md);
}

.ant-select-multiple {
    font-size: var(--font-size-md);
}


//多选标签图标
.ant-select-multiple .ant-select-content .ant-select-selection-item-remove {
    color: var(--color-icon-primary);
}

// 下拉面板
.ant-select-dropdown {
    border-radius: var(--radius-md);
    background-color: var(--color-bg-4);
    color: var(--color-text-primary);
    box-shadow: var(--shadow-base);
    padding: 0.25rem;

    .ant-select-item-option-disabled {
        color: var(--color-text-disabled);
    }

    .ant-select-item {
        padding: 0 0.5rem;
        display: flex;
        align-items: center;

        &:not(.ant-select-item-option-disabled) {
            color: var(--color-text-primary);
        }
    }

    .ant-select-item-option-selected.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: var(--color-select);
        color: var(--color-text-on);
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: var(--color-select);
        color: var(--color-text-on);
        font-weight: normal;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: var(--color-hover);
    }

    .rc-virtual-list-holder-inner {
       gap: 0.25rem;
    }
}

.ant-select-single:not(.ant-select-customize).ant-select-open .ant-select-content-has-value {
    opacity: unset;
}

.ant-select-multiple .ant-select-content .ant-select-selection-item {
    margin-inline-end: 0.5rem;
    background: var(--color-hover);
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: var(--color-border-hover);
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: var(--color-border-focus);
    box-shadow: 0 0 0 1px var(--color-border-active);
}