/* Tag 组件样式（占位，待填充 token 映射） */
.ant-tag {
  border: none;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  background-color: var(--color-tag-bg-none);
  color: var(--color-text-primary);
}

.ant-tag.ant-tag-processing {
  background: var(--color-tag-bg-info);
  color: var(--color-tag-text-info);
}

.ant-tag.ant-tag-error {
  background: var(--color-tag-bg-error);
  color: var(--color-tag-text-error);
}

.ant-tag.ant-tag-warning {
  background: var(--color-tag-bg-warning);
  color: var(--color-tag-text-warning);
}

.ant-tag.ant-tag-gold {
  background: var(--color-tag-bg-alert);
  color: var(--color-tag-text-alert);
}

.ant-tag.ant-tag-success {
  background: var(--color-tag-bg-success);
  color: var(--color-tag-text-success);
}

.ant-tag.ant-tag-green {
  background: var(--color-tag-bg-green);
  color: var(--color-tag-text-green);
}

.ant-tag.ant-tag-magenta {
  background: var(--color-tag-bg-rose);
  color: var(--color-tag-text-rose);
}

.ant-tag.ant-tag-pink {
  background: var(--color-tag-bg-pink);
  color: var(--color-tag-text-pink);
}

.ant-tag.ant-tag-purple {
  background: var(--color-tag-bg-purple);
  color: var(--color-tag-text-purple);
}

.ant-tag.ant-tag-geekblue {
  background: var(--color-tag-bg-indigo);
  color: var(--color-tag-text-indigo);
}

.ant-tag.ant-tag-cyan {
  background: var(--color-tag-bg-cyan);
  color: var(--color-tag-text-cyan);
}

.ant-tag.ant-tag-disabled {
  background-color: var(--color-tag-bg-none);
  color: var(--color-text-disabled);
}

.ant-tag.ant-tag-disabled .anticon {
  color: var(--color-text-disabled);
}

.ant-tag>.anticon+span,
.ant-tag>span+.anticon {
  margin-left: 0.25rem;
}

.ant-tag .anticon {
  color: var(--color-text-primary);
}