/* Timeline 组件样式（占位，待填充 token 映射） */
.ant-timeline {
  .ant-timeline-item {
    padding-bottom: 1rem;

    .ant-timeline-item-head {
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  &.ant-timeline-start {
    .ant-timeline-item {
      .ant-timeline-item-tail {
        inset-inline-start: 0.375rem;
      }
    }
  }

  &.ant-timeline-alternate,
  &.ant-timeline-right {
    .ant-timeline-item {
      .ant-timeline-item-head {
        margin-inline-start: -0.375rem;
      }
    }
  }
}