.ant-tooltip {
    color: var(--color-text-primary);
    font-size: var(--font-size-md);

    .ant-tooltip-container {
         color: var(--color-text-primary);
        padding: var(--spacing-4);
        background-color: var(--color-bg-4);
        border-radius: var(--radius-md);
    }

    .ant-tooltip-arrow:before {
        background-color: var(--color-bg-4);
    }
}